<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.denis.home.yandexmobilization"
          xmlns:android="http://schemas.android.com/apk/res/android">


    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.artistList.ArtistListActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.artistDetail.ArtistDetailActivity"
            android:label="@string/title_artist_detail"
            android:parentActivityName=".ui.artistList.ArtistListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.artistList.ArtistListActivity"/>
        </activity>

        <service
            android:name=".service.ArtistSyncService"
            android:exported="false">
        </service>

        <!--suppress AndroidDomInspection -->
        <provider
            android:name=".data.generated.ArtistProvider"
            android:authorities="com.denis.home.yandexmobilization.data.ArtistProvider"
            android:exported="false"/>
    </application>

</manifest>